<a href="https://colab.research.google.com/github/Nikhilkumar91/Python/blob/main/variables_%26_Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction

In [17]:
print('Nikhil')

Nikhil

In [18]:
print(1000)

1000

In [19]:
print(102.5646)

102.5646

In [20]:
print("Data Science")

Data Science

                                 **variables**

In [21]:
a=10
a

10

In [22]:
b=12.456

In [23]:
c='Vihara Tech'
c

'Vihara Tech'

**Rules for declaring a variable**

1.   Do not start with the Digits
2.   Do not give more than one word
3.   Do not use special characters
4.   Variables are case sensitive in python

In [24]:
1a=10

SyntaxError: invalid decimal literal (ipython-input-3782790406.py, line 1)

In [ ]:
one two='hi'

In [ ]:
%=65

In [ ]:
city='Hyd'
print(CITY)

In [ ]:
_1a=10
_1a

In [ ]:
name_age='Nikhil 23'

We can declare multiple variables by using this method

In [ ]:
a,b,c=10,20,30
a,b,c

In [ ]:
hi,hello,namasthe="nikhil",10,15.25
hi,hello,namasthe

Data types

In [ ]:
a=10
a
type(a)

In [ ]:
b=12.45678
a
type(b)

In [ ]:
c='hi'
type(c)

Type conversions

1.int to float

In [ ]:
import pandas as pd
a=10
b=pd.to_str(a)
b

In [ ]:
a=10
print('the given variable is',a)

In [ ]:
print('my name iS nikhil')
print('hi,  hello')

In [ ]:
a=10
b=12.30
c='machine laerning'
print("%d members")

In [ ]:
a='nikhil'
a[3],a[5]
print(a[3],a[5])
print(a[3]+a[5])
a.capitalize()
a
a.upper()

In [25]:
b='heLLo'
b.title()

'Hello'

In [26]:
a='Hello python'
a[::2]
a[::3]

'Hlph'

In [27]:
a=10
b=20
a is b
a is not b

True

In [28]:
a=10
b=10
a is b

True

In [29]:
print((6 + 3) - (6 + 3))
((5*10/6+100-56.33))

0

52.00333333333333

In [30]:
a=[10,20,30,40,50]
b=[30,40,50]
c=20
d=30,40
print(b in a)
print(c in a)
print(d in a)

False
True
False

In [31]:
title='data science'
months=6
class_=1.30
print('Iam learning '+title+'in vihara tech for '+str(months)+'of daily hours of'+' '+str(class_))

Iam learning data sciencein vihara tech for 6of daily hours of 1.3

In [32]:
title='data science'
months=6
class_=1.30
print('Iam learning %s in vihara tech for %d months of daily hours of %f'%(title,months,class_))

Iam learning data science in vihara tech for 6 months of daily hours of 1.300000

In [33]:
age=21
print('My name is Nikhil and my age is %d'%age)

My name is Nikhil and my age is 21

In [34]:
age=21
print(f'My name is Nikhil and my age is {age}')

My name is Nikhil and my age is 21

In [35]:
title='data science'
months=6
class_=1.30
print(f'Iam learning {title} in vihara tech for {months} months of daily hours of {class_}')

Iam learning data science in vihara tech for 6 months of daily hours of 1.3

**reverse of a number**

In [36]:
a=456
b=a%10
c=a//10
d=c%10
e=c//10
reverse=int(str(b)+str(d)+str(e))
print(f'Reverse of a number 456 is {reverse}')

Reverse of a number 456 is 654

In [37]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
len(dir(str))

81

In [39]:
a='hi hello world '
a.title()

'Hi Hello World '

In [40]:
name1=list("hello")
name1[0]=name1[1]=5
print(name1)
name1[0]

[5, 5, 'l', 'l', 'o']

5

In [41]:
a='i.love.programming.language'
b=a.split('.')
b

['i', 'love', 'programming', 'language']

In [42]:
c=b[::-1]
c

['language', 'programming', 'love', 'i']

In [43]:
d='.'.join(c)
d

'language.programming.love.i'

In [44]:
a='100.110.65'
b=chr(100)
c=chr(110)
d=chr(65)

print(b+c+d)

dnA

In [45]:
a='hi Iam Nikhil and Iam currently learning data science'
b=a.split()
print(b)
print(len(b))
c=' '.join(b)
print(c)

['hi', 'Iam', 'Nikhil', 'and', 'Iam', 'currently', 'learning', 'data', 'science']
9
hi Iam Nikhil and Iam currently learning data science

In [46]:
s='Nikhil'
count=0
for i in range(6):
  #print(ord(s[i]))
  if(ord(s[i])%2==0):
    count=count+ord(s[i])

print(count)

290

In [47]:
a='i.love.programming.language'
b=a.split('.')
b
c=b[::-1]
c
print('.'.join(c))

language.programming.love.i

In [48]:
z='vishnu'
y=z.replace('v','W')
y

'Wishnu'

In [49]:
a='Nikhil Kumar'
count=0
for i in range(len(a)):

  if(ord(a[i])%2==0):
    count+=ord(a[i])

print(count)

436

In [50]:
mystring = "Pythonprogram"
print(mystring[:-2])
print(mystring[-4:-2])

Pythonprogr
gr